*{
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  &:focus{
    outline: 0;
  }
}
html, body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
}
.chat{
  height: 100%;
  display: flex;
  .sidebar{
    width: 400px;
    min-width: 400px;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 10px 0 15px;
      img{
        width: 42px;
        height: 42px;
        border-radius: 42px;
      }
      .settings{
        ul{
          &:last-child{
            margin-right: 15px;
          }
          display: flex;
          li{
            margin-left: 30px;
            i{
              font-size: 18px;
              color: #989A9C;
            }
          }
        }
      }
    }
    .info{
      margin-top: 10px;
      height: 110px;
      background-color: #9DE1FE;
      display: flex;
      justify-content: left;
      padding: 20px;
      align-items: center;
      .icon{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: #fff;
        a{
          i{
            color: #9DE1FE;
            width: 50px;
            height: 50px;
            text-align: center;
            padding-top: 15px;
          }
        }
      }
      .text{
        flex-direction: row;
        padding-left: 25px;
        color: #414C50;
        .text-content{
          font-size: 14px;
          i{
            font-size: 12px;
            color: #414C50;
          }
        }
      }
    }
    .search {
      height: 50px;
      min-height: 50px;
      border-bottom: 1px solid #ddd;
      position: relative;
      padding: 0 10px;
      display: flex;
      align-items: center;
      input{
        font-size: 14px;
        width: 100%;
        height: 35px;
        background-color: #fff;
        border-radius: 30px;
        padding: 0  35px 0 55px;
        &::placeholder{
          color: rgba(#A2A2A2, .8);
        }
      }
      i{
        position: absolute;
        top:0;
        left: 0;
        width: 35px;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #999;
        margin-left: 25px;
      }
    }
    .contacts{
      overflow: auto;
      background-color: #fff;
      ul{
        li{
          border-bottom: 1px solid #ddd;
          a{
            display: flex;
            height: 72px;
            align-items: center;
            padding: 0 15px;
            .notification{
              width: 22px;
              height: 22px;
              border-radius: 22px;
              background-color: #06D755;
              font-size: 13px;
              font-weight: 600;
              color: #fff;
              text-align: center;
              line-height: 21px;
              margin-left: auto;
            }
            .contact{
              .name{
                font-size: 15px;
                color: #333;
                font-weight: 500;
                margin-bottom: 4px;
              }
              .message{
                font-size: 13px;
                color: #999;
              }
            }
            .send-time{
              margin-left: auto;
              font-size: 11px;
            }
            img{
              width: 50px;
              height: 50px;
              border-radius: 50px;
              margin-right: 20px;
            }
            &:hover{
              background-color: #F5F5F5;
            }
          }
        }
      }
    }
  }
  .content{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    .message-content{
      overflow: auto;
      &::before{
        content: '';
        margin-bottom: auto;
      }
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 15px;
      .message{
        align-self: flex-start;
        margin-bottom: 20px;
        &.me{
          align-self: flex-end;
          .text {
            background-color: #2196f3;
            color: #fff;
          }
          .send-time{
            text-align: right;
          }
        }
        .text{
          padding: 6px 12px;
          background: #f7f7f7;
          border-radius: 20px;
          font-size: 15px;
          margin-bottom: 5px;
        }
        .send-time{
          font-size: 12px;
          color: #999;
        }
      }
    }
    .message-header{
      height: 50px;
      min-height: 50px;
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      .actions{
        ul{
          display: flex;
          li{
            margin-left: 10px;
            a{
              font-size: 18px;
              color:#999;
              &:hover{
                color: #222;
              }
            }
          }
        }
      }
      .user-info{
        display: flex;
        img{
          align-items: center;
          margin-right: 10px;
          height: 40px;
          width: 40px;
          border-radius: 40px;
        }
        .user{
          .name{
            font-size: 15px;
            font-weight: 500;
            color:#222;
          }
          .lastTime{
            font-size: 13px;
            color: #999;
          }
        }
      }
    }
    .message-form{
      border-top: 1px solid #ddd;
      background-color: #eee;
      padding: 10px 10px;
      ul{
        display: flex;
        li{
          margin: 0 5px;
          a{
            width: 36px;
            height: 36px;
            border-radius: 36px;
            line-height: 36px;
            display: block;
            background: #333;
            color: #fff;
            text-align: center;
          }
        }
        li.input{
          flex: 1;
          input{
            height: 36px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 36px;
            font-size: 14px;
            padding: 0 15px;
          }
        }
        li.btn-emoji a{
          background-color: #339af0;
        }
        li.btn-record a{
          background-color: #ff5722;
        }
        li.btn-photo a{
          background-color: #4caf50;
        }
      }
    }
  }
}